<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div>
    <h3>Products: <em><a href='/admin/products'><%= @products.count %></a></em></h3>
    <h3>Categories: <em><%= @categories.count %></em></h3>
  </div>

</section>